{% load static %}
    <!-- Header -->
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'index' %}">Volix</a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'index' %}">صفحه اصلی</a></li>
                    <li><a href="/Product/">فروشگاه</a></li>
                    <li><a href="{% url 'contact' %}">ارتباط با ما</a></li>
                    <li><a href="{% url 'about' %}">درباره ما</a></li>
                </ul>
            </nav>
            <div class="header-actions">
                <div class="search-box">
                    <form action="/Product/" method="get" style="display: flex;">
                        <input type="text" name="search" placeholder="جستجو در محصولات...">
                        <button type="submit" style="background: none; border: none;">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <div class="user-section">
                    {% if user.is_authenticated %}
                        <div class="cart-icon">
                           <a href="{% url 'Account:usercart' %}"><i class="fas fa-shopping-cart"></i></a>
                            {% if user.cart %}
                                <span class="cart-count">{{ user.cart.total_items }}</span>
                            {% else %}
                                 <span class="cart-count">0</span>
                            {%endif%}
                        </div>
                        <div class="user-menu">
                            <div class="user-info">
                                <i class="fas fa-user"></i>
                                <span>{{ user.first_name|default:user.username }}</span>
                            </div>
                            <div class="user-dropdown">
                                <a href="{% url 'Account:userdashboard' %}">پنل کاربری</a>
                                <a href="{% url 'logout' %}">خروج</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="auth-buttons">
                            <a href="{% url 'login' %}" class="login-btn">ورود</a>
                            <a href="{% url 'signup' %}" class="signup-btn">ثبت نام</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
