{% extends "base/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/login_2.css' %}">
{% endblock %}
{% block content %}
 <div class="login-page">
 <div class="login-img">
            <img src="{% static 'images/login.jpg' %}" alt="" width="250" height="250">
        </div>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>خوش آمدید</h1>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-error{% else %}alert-success{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <label for="username">نام کاربری</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">رمز عبور</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="button-form">
                <button type="submit">ورود</button>
            </div>
            <div class="bottom-form">
                <a href="{% url 'signup' %}">
                   حساب کاربری جدید بسازید
                </a>
            </div>
        </form>
       
    </div>
{% endblock %}